html, body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    background-image: url("patern2.jpg");
    background-repeat: repeat;
    background-size:contain; 
}

.mem-list {
    display: flex;    
    flex-direction: column;    
    min-width: 200px;
    max-width: 600px;
    padding: 20px;
}

.mem-item {
    display: flex;
    justify-content: space-between;
    background-color:white;
    padding:10px;
}

.item-title {
    align-self: center;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    flex: auto;
    color: white;
    text-shadow: rgb(51, 51, 51) 3px 0px 0px, rgb(51, 51, 51) 2.83487px 0.981584px 0px, rgb(51, 51, 51) 2.35766px 1.85511px 0px, rgb(51, 51, 51) 1.62091px 2.52441px 0px, rgb(51, 51, 51) 0.705713px 2.91581px 0px, rgb(51, 51, 51) -0.287171px 2.98622px 0px, rgb(51, 51, 51) -1.24844px 2.72789px 0px, rgb(51, 51, 51) -2.07227px 2.16926px 0px, rgb(51, 51, 51) -2.66798px 1.37182px 0px, rgb(51, 51, 51) -2.96998px 0.42336px 0px, rgb(51, 51, 51) -2.94502px -0.571704px 0px, rgb(51, 51, 51) -2.59586px -1.50383px 0px, rgb(51, 51, 51) -1.96093px -2.27041px 0px, rgb(51, 51, 51) -1.11013px -2.78704px 0px, rgb(51, 51, 51) -0.137119px -2.99686px 0px, rgb(51, 51, 51) 0.850987px -2.87677px 0px, rgb(51, 51, 51) 1.74541px -2.43999px 0px, rgb(51, 51, 51) 2.44769px -1.73459px 0px, rgb(51, 51, 51) 2.88051px -0.838247px 0px;
}

.item-image {
    flex: 40%;
}

.item-image img {
    width: 100%;
    height: auto;
}