* {
  box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.section-outer {
  padding-left: 40px;
  padding-right: 40px; }

.section-inner {
  max-width: 1180px;
  margin: 120px auto; }

h2 {
  padding-bottom: 30px;
  text-align: center; }

.navigation {
  position: sticky;
  top: 0;
  height: 70px;
  background-color: #fff;
  z-index: 100;
  border-bottom: 1px solid #eee; }
  .navigation .nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%; }

.section-about {
  position: relative; }
  .section-about .about-content {
    display: flex; }
    .section-about .about-content .description {
      display: flex;
      flex-direction: column;
      flex-basis: 70%;
      padding-right: 50px; }
      .section-about .about-content .description .text {
        padding-left: 20px; }
      .section-about .about-content .description .interests {
        display: flex;
        flex-wrap: wrap-reverse; }
        .section-about .about-content .description .interests .interests-item {
          padding-left: 20px;
          width: 50%; }
    .section-about .about-content .photo {
      display: flex;
      flex-direction: column;
      align-self: start;
      align-items: center;
      flex-basis: 30%;
      border: 1px solid #eee; }
      .section-about .about-content .photo .avatar {
        width: 100%; }
        .section-about .about-content .photo .avatar img {
          width: 100%;
          height: 100%; }
      .section-about .about-content .photo .brief {
        align-self: start;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px; }
        .section-about .about-content .photo .brief .brief-item {
          display: flex;
          padding-left: 20px;
          padding-right: 20px;
          padding-top: 10px;
          padding-bottom: 10px;
          border-bottom: 2px solid #eee; }
          .section-about .about-content .photo .brief .brief-item .col {
            width: 50%;
            padding-left: 5px;
            padding-right: 5px; }
          .section-about .about-content .photo .brief .brief-item:last-child {
            border-bottom: none; }

.section-edication .container {
  display: flex; }
  .section-edication .container .edication__image {
    width: 50%; }
    .section-edication .container .edication__image img {
      width: 100%;
      height: 100%; }
  .section-edication .container .description {
    width: 50%;
    margin-left: 30px; }

.section-projects .timeline {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative; }
  .section-projects .timeline .item {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px; }
    .section-projects .timeline .item:nth-child(odd) .container {
      display: flex;
      flex-direction: column;
      width: 50%; }
      .section-projects .timeline .item:nth-child(odd) .container .card {
        display: flex;
        flex-direction: column;
        width: 90%; }
        .section-projects .timeline .item:nth-child(odd) .container .card .content {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 20px;
          border: 1px solid #eee; }
          .section-projects .timeline .item:nth-child(odd) .container .card .content .image img {
            width: 100%;
            height: 100%; }
          .section-projects .timeline .item:nth-child(odd) .container .card .content .description {
            width: 100%; }
          .section-projects .timeline .item:nth-child(odd) .container .card .content .title {
            align-self: start;
            padding-right: 10px;
            font-size: 55px;
            margin-top: -30px; }
        .section-projects .timeline .item:nth-child(odd) .container .card .technologies {
          display: flex;
          padding: 20px;
          border: 1px solid #eee;
          background-color: #f5f5f5; }
          .section-projects .timeline .item:nth-child(odd) .container .card .technologies .fa-unity {
            font-size: 32px; }
          .section-projects .timeline .item:nth-child(odd) .container .card .technologies .flaticon-c-logo::before {
            font-size: 32px; }
    .section-projects .timeline .item:nth-child(odd) .item-year {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%; }
      .section-projects .timeline .item:nth-child(odd) .item-year .item-year__text {
        font-size: 30px;
        font-weight: 600;
        padding-left: 30px;
        border-left: 2px solid #000;
        z-index: 1; }
    .section-projects .timeline .item:nth-child(even) .container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      order: 2;
      width: 50%; }
      .section-projects .timeline .item:nth-child(even) .container .card {
        display: flex;
        flex-direction: column;
        width: 90%; }
        .section-projects .timeline .item:nth-child(even) .container .card .content {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 20px;
          border: 1px solid #eee; }
          .section-projects .timeline .item:nth-child(even) .container .card .content .image img {
            width: 100%;
            height: 100%; }
          .section-projects .timeline .item:nth-child(even) .container .card .content .description {
            width: 100%; }
          .section-projects .timeline .item:nth-child(even) .container .card .content .title {
            align-self: start;
            padding-left: 10px;
            font-size: 55px;
            margin-top: -30px; }
        .section-projects .timeline .item:nth-child(even) .container .card .technologies {
          display: flex;
          padding: 20px;
          border: 1px solid #eee;
          background-color: #f5f5f5; }
    .section-projects .timeline .item:nth-child(even) .item-year {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      width: 50%; }
      .section-projects .timeline .item:nth-child(even) .item-year .item-year__text {
        font-size: 30px;
        font-weight: 600;
        padding-right: 30px;
        border-right: 2px solid #000;
        z-index: 1; }
  .section-projects .timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    background-color: #e1e1e1;
    z-index: 0; }

.section-skills {
  background-color: #1a1e23;
  color: #fff; }
  .section-skills .section-inner .loader-container {
    display: flex;
    flex-wrap: wrap; }
    .section-skills .section-inner .loader-container .loader-item {
      display: flex;
      align-items: center;
      flex-basis: 50%;
      padding-right: 15px;
      padding-left: 15px;
      padding-bottom: 15px; }
      .section-skills .section-inner .loader-container .loader-item .skill {
        display: flex;
        align-items: center;
        padding-right: 10px;
        width: 50%; }
      .section-skills .section-inner .loader-container .loader-item .myProgress {
        width: 100%;
        background-color: grey; }
      .section-skills .section-inner .loader-container .loader-item .myBar {
        width: 1%;
        height: 15px;
        background-color: green; }
