// === Variables ===
$border-color: #eee;
$primary-text-color: #282828;
$secondary-text-color: #fff;
$secondary-back-color: #1a1e23;
$primary-decoration-color: #68c3a3;
$secondary-decoraion-color: #3c763d;


$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;
// === / Variables ===

// === Mixins ===
@mixin montserrat {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 450;
    color: $primary-text-color;
    //text-shadow: -1px -1px 1px rgba(101, 96, 80, 0.36);
}
// === / Mixins ===

// === / Commons ===
* {
    box-sizing: border-box;
}

html {
    @include montserrat;


}

html,
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    
}

.wrapper {
    // background-image:
    // linear-gradient(to top,rgba(110, 117, 168, 0.4), rgba(110, 117, 168, 0.4)), 
    // url(/img/25100.jpg);
    // background-repeat: repeat-y;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0;
}

h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.25em;
    text-shadow: none
}

p {
    margin-top: 0.65rem;
    margin-bottom: 0.65rem;
    line-height: 1.15;
}

a {
    text-decoration: none;
}

.section-outer {

    background-repeat: repeat;
    padding-left: 1.5rem; // отступ слева
    padding-right: 1.5rem; // // отступ справа
     
}

.section-inner {
    max-width: 1180px; // макс ширина контентной области
    margin: 0 auto; // марджин сверху и снизу  и выравнивание по центру
}

//=== Icons ===//
.fas,
.fab {
    margin-right: 5px;
}

.fa-html5 {
    color: #e34f26;
}

.fa-css3-alt {
    color: #0099e5;
}

.fa-js {
    color: #f7df1e;
}

.fa-sass {
    color: #cf649a;
}

.fa-gulp {
    color: #eb4a4b;
}

.fa-database {
    color: #4479a1;
}

.fa-php {
    color: #8892bf;
    //padding: 5px;
    margin-right: 5px;
}

.fa-git {
    background-color: #6cc644;
    color: white;
    border-radius: 15%;
}

.fa-bootstrap {
    color: #602c50;
    background-color: white;
    border-radius: 15%;
}
.fa-unity {
    font-size: 2rem;
}
.flaticon-c-logo {
    &::before {
        font-size: 2rem;
        margin-left: 0;
    }
}
//=== / Icons ===//

.section-title {
    position: relative;
    font-size: 2.15rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-shadow: none;
    text-align: center;
    &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        height: 13px;
        width: 113px;
        margin: 0 auto;
        background: url('../img/section-divider.webp'), no-repeat;
    }
}
// === / Commons ===

// === Navigation ===
.navigation {
    position: sticky;
    top: 0;
    height: 4rem;
    background-color: #fff;
    z-index: 100;
    //border-bottom: 1px solid $border-color; //можно тень забахать
    box-shadow: 1px -1px 5px rgba(0, 0, 0, 0.3);
    .nav-links {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        li {
            a {
                font-size: 1.25rem;
                font-weight: 600;

                @media (max-width: $screen-sm) {
                    font-size: 1.15rem;
                }
                &:visited, &:link {
                    color: $primary-text-color;
                }
                &:hover {
                    color: $primary-decoration-color;
                    transition: .4s;
                }
            }
        }
    }
}
// === / Navigation ===

// === About ===
.section-about {
    //margin-top: 2rem;
    //margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 6rem;
    position: relative;
    .about-content {
        display: flex;

        .description {
            display: flex;
            flex-direction: column;
            flex-basis: 70%;
            padding-right: 5rem;
            .text {
                padding-left: 1.25rem;
            }
            .interests {
                padding-left: 1.25rem;
                display: flex;
                flex-wrap: wrap-reverse;
                .interests-item {
                    padding-bottom: 2px;
                    padding-top: 2px;
                    padding-left: 1.25px;
                    width: 50%;
                }
            }
        }
        .photo {
            display: flex;
            flex-direction: column;
            align-self: start;
            align-items: center;
            flex-basis: 30%;
            border: 1px solid $border-color;
            //background-color: rgb(237, 237, 253);
            background-color: #fff;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
            .avatar {
                width: 100%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .brief {
                align-self: start;
                display: flex;
                flex-direction: column;
                //flex-wrap: wrap;
                width: 100%;
                padding: 0.6rem;
                .brief-item {
                    display: flex;
                    //justify-content: space-between;
                    padding-left: 1.25rem;
                    padding-right: 1.25rem;
                    padding-top: 0.6rem;
                    padding-bottom: 0.6rem;
                    border-bottom: 1px solid #7e818b;
                    .col {
                        width: 50%;
                        padding-left: 0.3rem;
                        padding-right: 0.3rem;
                    }
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
    }

    @media (max-width: $screen-md) {

        .about-content {
            flex-direction: column;
            align-items: center;
            
            .description {
                padding-right: unset;
                
                
                .text {
                    padding-left: unset;   
                }
                .interests {
                    flex-direction: column;                    
                    padding-left: unset;

                    .interests-item {
                        width: unset;
                    }
                    
                }
            }
            .photo {
                margin-top: 3rem;
            }
        }
    }
}
// === / About ===

// === Projects ===
.section-projects {

    //background-repeat: no-repeat;
    .timeline {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding-top: 4rem;
        padding-bottom: 4rem;
        position: relative;
        margin-bottom: 8rem;

        .item {
            display: flex;
            flex-direction: row;            
            padding-left: 0.75rem;
            padding-right: 0.75rem;
            margin-bottom: 3rem;
            margin-top: 3rem;
            .container {
                display: flex;
                flex-direction: column; 
                width: 50%;                
                .card {
                    display: flex;
                    flex-direction: column;
                    //background-color: #EDEDFD;
                    background-color: #fff;
                    width: 90%;
                    .content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 1.25rem;
                        border: 3px solid $border-color;  
                        .image {
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .description {
                            width: 100%;
                        }
                        .title {
                            align-self: start;
                            padding-left: 0.75rem;
                            font-size: 3.5rem;
                            line-height: 1;                                
                        }
                        .description-text {
                            padding-left: 1.25rem;
                        }
                    }
                    .technologies {
                        display: flex;
                        padding: 1.25rem;
                        border: 1px solid $border-color;
                        background-color: #f5f5f5;                            
                    }
                }
            }
            .item-year {                
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 50%;
                
                

                .item-year__text {
                    font-weight: 600;
                    padding-left: 2rem;                    
                    z-index: 1;
                    font-size: 2rem;
                }
            }
            .content-description {
                padding-top: 2rem;
                padding-bottom: 2rem;

                

                .status-denayed {
                    color: #fac423;
                    font-weight: 700;
                }
                .status-completed {
                    color: #4285f4;
                    ;
                    font-weight: 700;
                }
                .status-develop {
                    color: #34a853;
                    font-weight: 700;
                }
                .project-section {
                    margin-bottom: 1.5rem;
                    margin-top: 1.5rem;
                    p {
                        padding-left: 1.25rem;
                    }
                }
                .seeMore {
                    margin-top: 3rem;
                    //margin-bottom:1.5rem;
                }
            }
            &:nth-child(odd) {
                .item-year {
                    .item-year__text {                        
                        padding-left: 2rem;
                        border-left: 2px solid #000;
                    }
                }
            }
            &:nth-child(even) {
                .container {
                    align-items: flex-end;
                    order: 2;                    
                    .card {
                        .content {
                            .phases-roman {
                                //list-style: disc;
                                li {
                                    padding-top: 2px;
                                    padding-bottom: 2px;
                                }
                            }
                        }                        
                    }
                }
                .item-year {
                    align-items: flex-end;

                    .item-year__text {
                        
                        padding-right: 2rem;
                        border-right: 2px solid #000;
                    }
                }
            }
        }
        &::before {
            content: '';
            position: absolute;
            left: 50%;
            //top: 0;
            width: 2px;
            height: 100%;
            margin-left: -1px;
            background-color: #e1e1e1;
            z-index: 0;
        }

        @media (max-width: $screen-sm) {
            
            .item > .container > .card > .content > .title {
                //width: 12%;
                font-size: 1.75rem;
                padding-left: unset;
            }

            .item > .container > .card > .content > .content-description > .project-section > p {
                padding-left: 1rem;
            }
            .item > .container > .card > .content > .content-description > .project-section > .question {
                //width: 50%;
                font-size: 0.95rem;
                padding-left: 1.25rem;
            }
            
        }

        @media (max-width: $screen-md) {
            
            .item {
                flex-direction: column;
                align-items: flex-start;
                padding-left: 20px;
                
                
                .container {
                    width: 100%;
                    .card {
                        width: 100%;
                    }
                }
                .item-year {
                    
                    padding-top: 10px;
                    padding-bottom: 10px;
                    width: unset;
                    align-self: flex-end;
    
                    .item-year__text {
                        font-size: 1.5rem;
                    }
                }

                &:nth-child(odd) {
                    .item-year {                            
                        .item-year__text {
                            padding-left: unset;
                            border-left: unset;
                        }
                    }
                }
                &:nth-child(even) {
                    .container {
                        order: unset;
                        align-items: unset;
                    }
                    .item-year {
                        padding-right: unset;
    
                        .item-year__text {
                            padding-left: unset;
                            padding-right: unset;
                            border-right: unset;
                            
                        }
                    }
                }
            }
            &::before {
                content: '';
                display: none;
                position: absolute;
                left: 100%;
                //top: 0;
                width: 2px;
                height: 100%;
                margin-left: -1px;
                background-color: #e1e1e1;
                z-index: 1;
            }
        }
    }
}
// === / Projects ===

// === Skills ===
.section-skills {
    background-color: $secondary-back-color;
    color: $secondary-text-color;
    .section-inner {
        .item-container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding-bottom: 8rem;
            
            .item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex-basis: 25%;
                margin-top: 1rem;
                margin-bottom: 1rem;


                .item-content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .icon-container {
                        display: flex;
                        flex-direction: column;
                        width: 100%;                    
    
                        img {
                            width: 100%;;                        
                        }
                    }
                    .icon-title {
                        margin-top: 0.5rem;
                    }
                }


            }
        }
        @media (max-width: $screen-sm ) {
            
            .item-container {
                flex-direction: column;
                align-items: center;
                
                .item {
                    .icon-container {
                        width: 75%;
                    }
                }
            }    
        }

        @media ( max-width: $screen-md-max ) and ( min-width: $screen-md ) {
            .item-container {                                
                .item {
                    flex-basis: 33%;
                }
            }
        }
    }
}
// === / Skills ===